* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  color: #5f6368
}
body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navright {
  display: flex;
  justify-content: space-between;
}
.text {
  display: flex;
  justify-content: center;
  margin: 12px;
  margin-top: 50px;
  font-size: 14px;
}

.text:hover a {
  text-decoration: underline;

}

.text a {
  text-decoration: none;
  color: #1a0dab;
  font-size: 14px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
}

nav > * {
  margin: 0 10px;
}
nav a {
  font-size: 0.8rem;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 20px;
  cursor: pointer;
  position: relative;
}
.menu::before {
  content: '';
  position: absolute;
  inset: -10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}
.menu:hover::before {
  opacity: 1;
}
.menu i {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
}
.gb_Ue {
  display: inline-block;
  outline: none;
  vertical-align: middle;
  border-radius: 2px;
  box-sizing: border-box;
  height: 25px;
  width: 40px;
  cursor: pointer;
  color: #5f6368
}

.gb_Ue:hover {
  color: #5f6368
  cursor: pointer;
  text-decoration: none
  background-position: -64px -29px;

}
.loginbtn {
  display: flex;
  background-color: #1a73e8;
  padding: 8px 15px;
  color: #fff;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-size: 13px;
}

.uU7dJb {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}

nav .loginbtn:hover {
  background-color: rgba(26, 115, 232, 0.8);
}

.content {
  position: absolute;
  top: calc(50% - 45px);
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  text-align: center;
  transform: translateY(-70%);
  margin-bottom: 8px;
}
.form-group {
  width: 580px;
  height: 45px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 100vw;
  position: relative;
  transform: translateY(-110%);
}
.form-group input {
  position: absolute;
  inset: 0;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0 3rem;
  font-size: 1rem;
}

.form-group i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: rgba(0, 0, 0, 0.3);
}
.form-group svg {
  width: 1.5rem;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  cursor: pointer;
}
.form-group:hover {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}

.div-btn {
  display: flex;
  justify-content: center;
  margin: -18px;
}

.btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 5px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
border-color: #dadce0;

}

.container {
  margin-top: auto;
  position: aboslute;
  bottom: 0;
  background-color: #f2f2f2;
  font-size: 14px;
  color: #6f6f66;
}
.footer-location {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}
.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.left-menu a,
.right-menu a {
  text-decoration: none;
  color: #6f6f6f;
  padding: 0 20px 0 0;
}
.left-menu .location {
  color: #70757a;
  padding: 2px;
}

.ktLKi{
  white-space: nowrap;
  color: #70757a;
  vertical-align: top;
  cursor: pointer;
}


.sheet-img {
  height: 14px;
  margin-right: 6px;

}

@media (max-width: 1200px) {
  .form-group {
    width: 65vh;
  }
  body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .left-menu a {
    text-decoration: none;
    color: #6f6f6f;
    padding: 0 20px 0 0;
    display: inline-block;
    margin-bottom: 20px;
  }

  .right-menu a:hover{
  text-decoration: underline;
  }
  .left-menu a:hover{
    text-decoration: underline;
    }
  .footer-menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .loginbtn {
    padding: 10px;
    border-collapse: collapse;
  }

  .ktLKi {
    white-space: nowrap;
    color: #70757a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

